@use "global";

// utils
@use "utils/variables";
@use "utils/fonts";

// components
@use "components/footer";
@use "components/header";
@use "components/post";
@use "components/social";

// pages
@use "pages/single";
@use "pages/list";
@use "pages/index";
@use "pages/baseof";


.nolist {
  list-style: none;
  margin: 0;
  padding: 0;
}

summary {
  cursor: pointer;
}

.publist--item {
  margin-bottom: 2em;
  background-color: #333;
}
.publist--article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  details {
    flex-basis: 100%;
  }
  aside {
    flex-basis: 10em;
  }
}
.tag {
  font-size: 0.8em;
  margin-left: 0.6em;
  padding: .1em .6em 0.15em;
  background-color: grey;
  border-radius: 10px;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: 1fr auto;
  grid-auto-flow: row;

  a {
    display: block;
    position: relative;
    min-height: 200px;
    background: red;
  }

  img {
    display: block;
    object-fit: cover;
    max-height: 200px;
  }
  .tile__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

}
