{{ define "title"}}
{{ .Title }} | {{ .Site.Params.author.name }}
{{ end }}


{{ define "main" }}
<div>
    <div class="listHeader">
        <h1>{{ .Title }}</h1>
    </div>

    {{ with .Content }}
    <div class="listContent">
        {{- . -}}
    </div>
    {{ end }}

    <div class="listContent">
        {{ $years := slice }}

        {{ range .Site.Data.talks}}
        {{ $year := .year }}
        {{ $years = $years | append $year }}
        {{ end }}
        {{ $years := $years | uniq | sort | collections.Reverse }}

        <ul class="nolist">
            {{ range $years }}
            <li>
                <h2 class="publist--title">{{.}}</h2>
                <ul class="nolist">
                    {{ range where $.Site.Data.talks "year" .}}
                    <li class="publist--item">
                        <article class="publist--article">
                            <header>
                                <p class="publist--item--meta">
                                    {{ with .article_host }}{{ . }}{{ end }}
                                    {{ with .podcast }}{{ . }}{{ end }}
                                    {{ with .conference}}{{ . }}{{ end }}
                                    {{ with .city}}- {{ . }}{{ end }}
                                    <span class="tag">{{ .category }}</span>
                                </p>
                                <h3 class="publist--item--title">{{ .title }}</h3>
                            </header>
                            <aside>
                                {{ with .podcast_link}}
                                <a href="{{.}}" target="_blank">Listen to episode</a>
                                {{ end }}
                                {{ with .slides_link}}
                                <a href="{{.}}" target="_blank">View the slides</a>
                                {{ end }}
                                {{ with .video_link}}
                                <a href="{{.}}" target="_blank">Watch the recording</a>
                                {{ end }}
                                {{ with .repository_link}}
                                <a href="{{.}}" target="_blank">Check the repository</a>
                                {{end}}
                                {{ with .article_link}}
                                <a href="{{.}}" target="_blank">Read the article</a>
                                {{end}}
                                {{ with .link}}
                                <a href="{{.}}" target="_blank">More here</a>
                                {{end}}
                            </aside>
                            {{ with .description}}
                            <details>
                                <summary>More info</summary>
                                <p>{{ . }}</p>
                            </details>
                            {{ end }}
                        </article>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}
